
@import 'base/variables';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

* {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    &-wide {
        max-width: 320px;
        margin: 0 auto;
        height: 50px
    }
}

.hide-overflow {
    overflow: hidden;
}

@import 'blocks/header';
@import 'blocks/posts';
@import 'blocks/works';
@import 'blocks/footer';

@import 'blocks/media';