.footer {
    width: 300px;
    margin: 0 auto;
    &__social {
        display: flex;
        justify-content: space-around;
        a {
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
    &__copyright {
        p {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
}