.header {
    padding-bottom: 58px;
    &__hamburger {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        z-index: 10;
        span {
            display: block;
            height: 2px;
            width: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: black;
            transition: 0.5s all;
            &:nth-child(2) {
                top: calc(50% - 8px);
            }
            &:nth-child(3) {
                top: calc(50% + 8px);
            }
        }
        &_active {
            span {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(45deg);
                }
                &:nth-child(3) {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(-45deg);
                }
            }
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image {
        position: relative;
        height: 170px;
        width: 170px;
        picture {
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 2px;
            top: 5px;
            width: 171px;
            height: 171px;
            border-radius: 100%;
            background: $color-light;
            z-index: -1;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    &__title {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
    }
    &__descr {
        margin-top: 21px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 23.5px;
    }
    &__btn {
        margin-top: 36px;
        padding: 9px 20px;
        width: 208px;
        height: 47px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        border: none;
        border-radius: 2px;
        background-color: $color-primary;
        transition: 0.2s all;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: translate(5px, 5px);
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 50px 0;
    background-color: $color-light;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0%;
    transform: translateX(-100%);
    transition: 0.5s all;
    z-index: 5;
    &_active {
        transform: translateX(0%);
    }
    a {
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: $color-dark;
        // margin-bottom: 15px;
    }
}