// @media (min-width: 320px) {
//     .container {
//       
//     }
    
// }

@media (min-width: 376px) {
    .container {
        max-width: 340px;
    }
    
}

@media (min-width: 426px) {
    .container {
        max-width: 380px;
    }
}

@media (min-width: 600px) {
    .container {
        max-width: 580px;
    }
}

// @media (min-width: 801px) {
//     .container {
//      
//     }
// }

// @media (min-width: 1025px) {
//     .container {
//      
//     }
// }

// @media (min-width: 1281px) {
//     .container {
//      
//     }
// }